html, body{
    margin: 0;
    height:100%;
    background-color: rgb(171, 105, 25);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    margin: auto; top:0; bottom:0;
    width:600px;
    height:50px;
    background-color: rgb(57, 205, 155);
    text-align: center;
    font-size: 2em;
    color: rgb(246, 248, 105);
}

.login-title{
    height:3em;
    position: relative; font-size: 1.2em;
    box-sizing: content-box;
    top: 1em; font-weight: bold;
}

.login-form{
    position: relative; z-index: 1; /* 不然會被登入系統擋住按不到 */
}

.login-form-AccPass{
    margin-bottom: 0.5em;
}

.login-background{
    margin: auto; top:0; bottom:0;  
    background-color: rgb(254, 248, 170);
    font-size: 1em; width:600px;
    text-align: center; color: rgb(87, 87, 87);
}

.login-account-password{
    margin-right: 0.5em;
}

.login-account-password:hover{
    background-color: rgb(202, 255, 250);
}

.login-button{ /* 主要開關，但隱藏起來，讓客製化按鈕視覺上取代這個 button */
    position: relative; 
    opacity: 0;
}

.login-button-icon{
    position: relative; bottom:5px;
    margin-top: 10px;
    font-weight: bolder;
}


.login-button-icon > label > p:hover{
    margin-top: 5px;
    box-shadow: 0 3px 15px 3px #ffac267a;
}

.login-button-icon > label > p{
    /* position:absolute; */
    margin: auto; left: 0; right: 0;
    width:3em; 
    background-color: rgb(76, 246, 183);
    border-radius: 20%;
}




  