<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>WeHelp-w6-hw member-page</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='member.css')}}" />
    </head>
    <body>
        <div>
            <header class="header">
                {{ header }}
            </header>
            <div class="login-background">
                <div class="login-title">
                    <span class="login-welcome-dynamic"></span>{{ login_infor }}
                </div>
                <br/>
                <a class=signout href="/signout">
                    {{ signout }}
                </a>
                <form class="login-form" action="/message" method="POST">
                    <div class="login-title">快來留言吧~大家!</div>
                    <div class="login-form-AccPass"><label class="login-account-password" for="message">內容</label><input type="text" id="message" name="message"></div>
                    <div class="login-button-icon"><label for="click-calculate"><p>送出</p></div> <!--使用 label 功能達成客製視覺化計算按鈕-->
                    <div class="login-button"><button id="click-calculate">送出</button></div>   
                </form>
                <div>
                    {% for text in content %}
                    <div class="message">
                        <span>{{ text[0] }}:</span>&nbsp;&nbsp;{{ text[1] }}
                    </div>
                    {% endfor %}
                </div>
                <div>
                    <div class="login-title">{{name}}，歡迎登入系統</div>
                    <div class="find-member-title"><label class="login-account-password" for="find-member-name">查詢會員姓名</label></div>
                    <div class="find-member-flex">
                        <div class="find-button-icon"><label for="click-find-name"><p>查詢</p></div>
                        <div class="login-form-AccPass"><input type="text" id="find-member-name" name="username"></div>
                        <div class="find-button"><button onclick=find_name() id="click-find-name">查詢</button></div>   
                    </div>
                    <div class="find-member-container"></div> <!-- 放查詢會員結果 -->
                    <div class="find-member-title"><label class="login-account-password" for="change-member-name">更新我的姓名</label></div>
                    <div class="find-member-flex">
                        <div class="find-button-icon"><label for="click-member-name"><p>更新</p></div>
                        <div class="login-form-AccPass"><input type="text" id="change-member-name" name="changename"></div>
                        <div class="find-button"><button onclick=change_name() id="click-member-name">更新</button></div>   
                    </div>
                    <div class="change-member-container"></div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{url_for('static', filename='member.js')}}"></script>
    </body>    
</html>