html, body{
    margin: 0;
    height:100%;
    background-color: rgb(171, 105, 25);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    justify-content: center; align-items: center;
    margin: auto; left: 0; right:0;
    width:300px;
    height:50px;
    background-color: rgb(57, 205, 155);
    text-align: center;
    font-size: 1.4em;
    color: rgb(246, 248, 105);
    border-style: solid; border-width: 2px; border-color: rgba(177, 117, 184, 0.309);

}

.login-title{
    display: flex;
    justify-content: center; align-items: center;
    height:3em;
    position: relative; font-size: 1.2em;
    box-sizing: content-box;
    top: 0.5em; font-weight: bold;
}

.login-form{
    position: relative; z-index: 1; /* 不然會被登入系統擋住按不到 */
    background-color: rgb(254, 248, 170);
    border-style: solid; border-width: 2px; border-color: rgba(177, 117, 184, 0.309);
    border-left: 0em; border-right: 0em;

}

.login-form-AccPass{
    margin-top: 0.5em;
}

.login-background{
    margin: auto; left: 0; right: 0;
    background-color: rgb(254, 248, 170);
    font-size: 1em; width:300px;
    text-align: center; color: rgb(87, 87, 87);
    border-style: solid; border-width: 2px; border-color: rgba(177, 117, 184, 0.309);
}

.login-account-password{
    margin-right: 0.5em;
}

.login-account-password:hover{
    background-color: rgb(202, 255, 250);
}

.login-button{ /* 主要開關，但隱藏起來，讓客製化按鈕視覺上取代這個 button */
    position: relative; 
    opacity: 0;
}

.login-button-icon{
    position: relative; bottom:5px;
    margin-top: 10px;
    font-weight: bolder;
}


.login-button-icon > label > p:hover{
    margin-top: 5px;
    box-shadow: 0 3px 15px 3px #ffac267a;
}

.login-button-icon > label > p{
    /* position:absolute; */
    margin: auto; left: 0; right: 0;
    width:3em; 
    background-color: rgb(76, 246, 183);
    border-radius: 20%;
}

.message{
    font-size: 1em;
    padding: 2px;
}

.message > span{
    font-weight: bold;
}

.message:hover{
    margin-top: 1px;
    box-shadow: 0 0 15px 3px #ffac267a;
}

.find-member-title{
    position: relative;
    top:15px; left: 0.5em;
    font-weight: bold;
    font-size: 1.1em;
    z-index: 2;
}

.find-member-flex{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.find-button{
    position: absolute;
    z-index: -1;
    opacity: 0;

}

.find-button-icon{
    position: relative;
    margin-top: 10px;
    font-weight: bolder;
    margin-right: 2px;
}


.find-button-icon > label > p:hover{
    box-shadow: 0 0 15px 3px #ffac267a;
}

.find-button-icon > label > p{
    /* position:absolute; */
    width:3em; 
    background-color: rgb(76, 246, 183);
    border-radius: 20%;
}